<header> 
    
    <noscript>
        <style>
            .wrapper article.loading img{
                animation: none;
            }
        </style>
    </noscript>
    <p class="disclaimer">This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    
    <form data-search-movie method="POST" action="/search">
        <input type="text" name="searchValue" placeholder="Search for a movie..." required>
        <button>Search</button>
    </form>
</header>