<header> This product uses the TMDb API but is not endorsed or certified by TMDb.
    <form data-search-movie>
        <input type="text" placeholder="Search for a movie..." required>
        <button>Search</button>
    </form>
</header>