<div id="filters">
	<form>
		<input type="radio" id="copyright" name="filter" value="copyright">
		<label for="copyright">copyright</label>
		<input type="radio" id="public_domain" name="filter" value="public_domain">
		<label for="public_domain">non-copyright</label>
		<input type="radio" id="all" name="filter" value="all" checked>
		<label for="all">all</label>
	</form>
</div>