@font-face {
	font-family: NASA;
	src: url(./media/fonts/nasalization-rg.woff);
}

:root {
	--title-font: "NASA";
	--normal-font: Arial, Helvetica, sans-serif;
	--highlight-color: #0E5BD8;
	--primary-color: white;
	--placeholder-color: #E4E5E7;
}

html {
	scroll-behavior: smooth;
}

body,
h1,
p {
	margin: 0px;
}

main {
	height: 100vh;
	overflow-y: hidden;
}

/* Overview section */

#overview {
	overflow-y: scroll;
	height: 100vh;
}

#overview>div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px 0px 0px;
	height: 5vh;
}

#overview>div:first-of-type img {
	height: 50px;
	width: auto;
}

#overview>div:first-of-type h1 {
	font-family: var(--title-font), var(--normal-font);
	font-size: 40px;
	margin: 0px 0px 0px 10px;
	display: inline-block;
	cursor: default;
}


/* Content section */

#overview>div:last-of-type {
	height: calc(95vh - 130px);
	max-height: calc(95vh - 130px);
	width: 84vw;
	padding: 0px 8vw 50px 8vw;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* Image reflow */

#overview>div:last-of-type>span,
#overview>div:last-of-type a>span {
	background-color: var(--placeholder-color);
	width: 320px;
	height: 320px;
	margin: 10px;
	display: block;
	position: relative;
	overflow: hidden;
}

/* Content */

#overview>div:last-of-type span p {
	position: absolute;
	z-index: 999;
	bottom: 0px;
	right: 0px;
	font-family: "NASA", var(--normal-font);
	color: white;
}

#overview>div:last-of-type span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

#overview>div:last-of-type a:hover span {
	outline: 10px solid var(--highlight-color);
	pointer-events: auto;
}

#overview>div:last-of-type a span img {
	pointer-events: auto;
}

/* Detail section */

#detail {
	background-color: var(--highlight-color);
	height: calc(100vh - 100px);
	width: calc(100vw - 100px);
	padding: 50px;
	display: grid;
	grid-template-columns: auto 650px;
	grid-column-gap: 50px;
	grid-template-rows: auto auto auto auto auto 1fr;
	color: var(--primary-color);
	font-family: var(--normal-font);
}

#detail>img {
	grid-column: 1 / 1;
	grid-row: 1 / 8;
	width: 100%;
	max-height: calc(100vh - 100px);
	object-fit: contain;
	justify-self: center;
	align-self: center;
	max-width: 900px;
}

#detail>a {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
	justify-self: end;
	display: block;
	margin-bottom: 20px;
}

#detail>h1 {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
	align-self: end;
	font-size: 50px;
	margin-bottom: 10px;
	line-height: 1;
	width: 100%;
	margin-top: 100px;
}

#detail>p {
	align-self: start;
	grid-column: 2 / 3;
	font-size: 20px;
}

#detail>p:first-of-type {
	grid-row: 3 / 3;
	margin-bottom: 20px;
	font-size: 30px;
}

#detail>p:nth-of-type(2) {
	grid-row: 4 / 4;
	margin-bottom: 20px;
}

#detail>p:nth-of-type(3) {
	grid-row: 5 / 5;
	margin-bottom: 20px;
}


#error404 {
	background-color: var(--highlight-color);
	width: 100vw;
	height: 100vh;
}

#error404 div {
	width: fit-content;
	height: fit-content;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#error404 h1 {
	font-family: var(--normal-font);
	color: var(--primary-color);
	font-size: 20vw;
	letter-spacing: 10px;
}

#error404 h6 {
	font-family: var(--title-font);
	color: var(--primary-color);
	font-size: 60px;
	margin: 0px;
}

#error404 p {
	font-family: var(--normal-font);
	color: var(--primary-color);
	font-size: 16px;
	margin-top: 10px;
}